.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 80px; /* Space for fixed navbar */
  min-height: calc(100vh - 400px);
}

@media (max-width: 991px) {
  .main-content {
    padding-top: 75px;
  }
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 70px;
    min-height: calc(100vh - 350px);
  }
}

@media (max-width: 576px) {
  .main-content {
    padding-top: 65px;
    min-height: calc(100vh - 300px);
  }
}
